a{
    color: orange;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#accordion{
    width: 80%;
    margin: 0 auto;
}
.ui-accordion-content{
    font: normal 15px Arial;
    text-align: justify;
}